body {
	background: url('../img/layouts/Calithon_3DSB_cam.png') no-repeat;
}

.runner-container {
	width: 182px;
	height: 39px;
	line-height: 39px;
}

.runner-name {
	float: unset;
	text-align: center;
	width: 100%;
}

#runner-container1 {
	left: 12px;
	top: 23px;
}

#runner-container2 {
	right: 12px;
	top: 23px;
}

#runner-container3 {
	left: 12px;
	top: 454px;
}

#runner-container4 {
	right: 12px;
	top: 454px;
}

#game-name {
	width: 378px;
	height: 88px;
	line-height: 88px;
	top: 0;
	left: 443px;
}

#info-container {
	width: 378px;
	height: 45px;
	line-height: 45px;
	top: 88px;
	left: 443px;
}

#timer {
	width: 394px;
	height: 65px;
	line-height: 65px;
	left: 443px;
	top: 253px;
}