@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.ttf');
}

body {
	font-family: 'Montserrat Regular';
	color: #f9f9f9;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 1280px;
	height: 720px;
}